<div class="footer py-3">
    <div class="container py-3">
        <div class="row">
            <div class="row pt-5">
                <div class="col-lg-11 m-auto">
                    <div class="row">
                        <div class="col-lg-3 py-3">
                            <a id="footer-brand" href="#">Flower Shop</a>
                        </div>
                        <div class="col-lg-3 py-3">
                            <h5 class="pd-3">Links</h5>
                            <p>Home</p>
                            <p>Users</p>
                            <p>Contact</p>
                        </div>
                        <div class="col-lg-3 py-3">
                            <h5 class="pd-3">Our pages</h5>
                            <p>Home</p>
                            <p>Users</p>
                            <p>Contact</p>
                        </div>
                        <div class="col-lg-3 py-3">
                            <h5 class="pd-3">Contact</h5>
                            <p>134-78Roud giza city Egypt</p>
                            <p>you can found us on media</p>
                            <span><i class="fa-brands fa-whatsapp"></i></span>
                            <span><i class="fa-brands fa-facebook"></i></span>
                            <span><i class="fa-brands fa-instagram"></i></span>
                            <span><i class="fa-brands fa-twitter"></i></span>
                        </div>
                   </div>
               </div>
            </div>
        </div>
    </div>
</div>